*{

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

body{

    font-family: "Ubuntu", sans-serif;

}

.nav{

    background: #000;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: flex-end;

}

.nav-list{

    display: flex;
    justify-items: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 24px;
    flex-direction: row;
    justify-content: flex-end;

}

.nav-list a{

    padding: 20px;
    text-decoration: none;
    color: #c0c0c0;

}

.nav-list a:hover{

    color: #fff;

}

.main{

    display: flex;
    background: url(../img/programador.png);
    height: calc(100vh - 80px);
    width: 100%;
    align-items: center;
    padding-left: 10%;

}

.main h1{

    color: #fff;
    font-size: 54px;


}

.main p{

    color: #1e96fc;
    font-size: 26px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 35px;

}

.main .call-to-action{

    cursor: pointer;
    background: #fff;
    border: 0;
    padding: 14px;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.9s;/* Deixa leve, para não ir de uma vez */

}
.call-to-action:hover{

    transform: scale(1.1);/* Aumenta */

}

.sobre{

    display: flex;
    background: #fff;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content:space-between;
    align-items: center;

}

.sobre div{

    max-width: 50%;
    padding-right: 40px;

}

.sobre img{

    max-width: 450px;
    border-radius: 8px;

}

.sobre h2{

    font-size: 32px;
    margin-bottom: 14px;

}

projetos-lista
.projetos{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;

}